.container{width:1000px;}
.img{width:700px;}
.center{width:700px;}
.sidebar{width:300px;}
#attractionListArea li {list-style-type:none; float:left;}
#div2{text-align:center;}
#wap {display:inline-block;}
